<h1>Your meows</h1>
<table>
  <tr>
    <th>meow!</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.content %></td>
      <td><%= link_to 'Edit your meow!', edit_post_path(post.id) %></td>
      <td><%= link_to 'Delete your meow!', post_path(post.id), method: :delete %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'New meow!', new_post_path %>
