<%= form_with(model: @posts, local: true) do |form| %>
    <div class="post_content">
      <%= form.label :content %>
      <%= form.text_field :content %>
    </div>
    <%= form.submit %>
  <% end %>